<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Serve sitemap and robots directly as static files
  RewriteRule ^sitemap\.xml$ - [L,T=application/xml]
  RewriteRule ^robots\.txt$ - [L,T=text/plain]

  # React Router fallback
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

<IfModule mod_headers.c>
  # Cache assets long-term
  Header set Cache-Control "public, s-maxage=604800, max-age=0"

  <If "%{REQUEST_URI} =~ m#^/assets/.*$#">
    Header set Cache-Control "public, max-age=604800"
  </If>
</IfModule>
